body {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 100;
  margin: 0 auto;
  background-color: #ededed;
}

.container {
  padding-top: 100px;
}

/* Style the navbar */
.navigation-bar {
  position: fixed;
  background-color: #000000;
  height: 55px;
  width: 100%;

}

.logo {
  padding: 15px 15px;
  width: 150px;
  margin: auto;
  vertical-align: middle;
}

/* Chart */
#chart-container {
  border: solid grey;
  padding: 10px;
  background-color: #ffffff;
  display: inline-block;
}

.temperature {
  width: 326px;
  height: 222px;
}

.temperature-number {
  text-align: center;
  font-size: 70px;
}

#chart-label {
  text-align: center;
}

.divider {
  border: 1px solid grey;
  width: 300px;
  right: 249px;
  top: 10px;
  margin-bottom: 20px;
}

.progress-bar {
  background-color: #F57300;
}